name: Ruby

on:
  push:
    branches:
      - master

  pull_request:

jobs:
  build: Ruby ${{ matrix.os }}
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: .ruby-version
        bundler-cache: true
#    - name: Run the default task
#      run: bundle exec rake
    - name: Run rspec
      run: bundle exec rspec
    - name: Run cucumber
      run: bundle exec cucumber
    - name: Run rubocop
      run: bundle exec rubocop --config .rubocop.yml
